<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39995634067-k1d9e8k1gh6lk8j1u4quibmmooj47j1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39995634067-k1d9e8k1gh6lk8j1u4quibmmooj47j1h</string>
	<key>API_KEY</key>
	<string>AIzaSyC-7m-8meokohtzE25T0eS-_2PrF8PvrRc</string>
	<key>GCM_SENDER_ID</key>
	<string>39995634067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-app-25698</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-app-25698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39995634067:ios:79a48735349642f58bb866</string>
</dict>
</plist>